<div class="page-header">
  <%= link_to 'New User', new_user_path, :class => "btn btn-info pull-right" %>
  <h1>Users</h1>
</div>

<table class="table table-striped">

  <colgroup>
        <col class="col-xs-2">
        <col class="col-xs-7">
  </colgroup>

  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= mail_to user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
