<h1>Frequently Asked Questions</h1>

<hr>

<% @questions.each do |question| %>
  <ul><li><%=question %></li></ul>
<% end %>

<% @questions.each do |question| %>
  <p><b><%= question %></p></b>

  <% @answers.each do |answer| %>
    <p><%= answer %><p>
  <% end %>

<% end %>
